* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.top {
  height: 800px;
  background: #E1FF8F;
  position: relative;
  background-image: url(./img/Star-big.png), url(./img/Star1.png), url(./img/Star2.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right 0, 74% 80%, 5% 9%;
}

.top__img {
  position: absolute;
  top: -333px;
  right: -488px;
}

.top__name {
  padding-top: 196px;
  padding-left: 120px;
}

.top__title {
  width: 796px;
  height: 156px;
  color: #202027;
  font-size: 64px;
  font-weight: 700;
}

.top__text {
  width: 720px;
  height: 64px;
  color: #202027;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}

.top__text_bold {
  font-weight: 600;
}

.top__menu {
  background: #BCEC30;
  height: 90px;
  margin-top: 156px;
}

.top__link {
  display: flex;
  gap: 51px;
  color: #202027;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
  padding: 27px 49px;
}

.top__button {
  font: inherit;
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  width: 247px;
  height: 66px;
  border-radius: 60px;
  border: 1px solid #202027;
  background: #202027;
  margin-top: 48px;
  transition: 0.5s;
}

.top__button:hover {
  background-color: white;
  color: black;
}

.top__button:active {
  transform: translate(0, -4px);
}

.about {
  background: #202027;
  background-image: url(./img/Star-big-2.png), url(./img/Star3.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right 16%, 2% 57%;
}

.about__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
}

.about__text {
  width: 788px;
  height: 96px;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
}

.about__cards {
  padding-top: 72px;
  padding-left: 119px;
  padding-right: 120px;
  padding-bottom: 50px;
  gap: 32px;
  align-items: end;
  display: flex;
}

.about__block {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__game {
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 12.612px 42.251px -7.567px rgba(0, 0, 0, 0.13);
}

.about__game:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.about__name {
  padding-top: 94px;
  padding-left: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.about__price {
  padding: 32px 32px 36px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__price1 {
  color: #202027;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-radius: 52.582px;
  background: #F7F7F7;
  width: 94px;
  height: 36px;
}

.about__prise2 {
  color: #202027;
  font-size: 32px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */